.header
    .header-container
        .header-container_logo
            a.navigation-logo(href="/") Bosenko  
        #menu.header-navigation
            .header-navigation_menu
                a(href='#about2')
                    | О нас
                a(href='#portfolio')
                    | Портфолио
                a(href='#price')
                    | Цены
                a(href='#additional')
                    | Дополнительные услуги
                a(href='#review')
                    | Отзывы
                a(href='#contact')
                    | Контакты
        #shadow.header-shadow
        .header-burger
            a#burger(href='#')
                i.icon-menu