.intro
    .video
        video(src='/images/video-slide.mp4' autoplay='' muted='' loop='')
    .intro__content
        .text
            h1 Босенко Никита
            hr
            h2 Cвадебный фотограф в Донецке
