.bcg
    #about2.about2
        .title
            h1 Наша команда
        .glidee.person
            .glide__track(data-glide-el='track')
                ul.glide__slides
                    li.glide__slide
                        img(src="././assets/images/person-ph.png", alt="")
                        .text 
                            h1 Фотограф
                            h2 Приветствую Вас на своем сайте!Фото-творчество - это увлекательный процесс, занимающий практически все мое свободное от основной работы время с 2011 года.Основными и любимыми жанрами являются - портретная фотография, на свежем воздухе-в городе или на природе, а так же студийная художественная портретная съемка и жанр ню-арт.
                    li.glide__slide  
                        img(src="././assets/images/person-re.png", alt="")
                        .text 
                            h1 Ретушер
                            h2 Важным моментом помимо самой съемки для меня является обработка кадров, я слежу за работами известных миру фотографами, всегда учусь, беру индивидуальные уроки у профессионалов фото-искусства, потому как новые методы и способы обработки позволяют создать  красивые необычные снимки, идти в ногу со временем.
                    li.glide__slide  
                        img(src="././assets/images/person-vi.png", alt="")
                        .text 
                            h1 Визажист
                            h2 Меня зовут Маша Литвинова, я визажист-стилист и работаю в этой сфере более трех лет. К искусству и красоте я была неравнодушна с самого детства, очень любила рисовать и наряжаться. А также учить стихи и петь песни на разных языках. Уже тогда я понимала, что моя профессия будет связана с творческой деятельностью.