#portfolio.portfolio
    h1 Портфолио
    .portfolio-list
        .portfolio-list__link
            div(href="#" data-theme="all") Все 
            div(href="#" data-theme="wedding") Свадьба 
            div(href="#" data-theme="love-story") LoveStory
            div(href="#" data-theme="report") Репортаж 
            div(href="#" data-theme="portrait") Портреты
    .glideP
        .glide__track(data-glide-el='track').scroll
            ul.glide__slides
                li.glide__slide(data-is-theme="report all")
                    a(href="#") 
                        img(src="././assets/images/wedding1.png", alt="")
                    a(href="#")
                        img(src="././assets/images/wedding2.png", alt="")
                li.glide__slide(data-is-theme="portrait all")
                    a(href="#") 
                        img(src="././assets/images/wedding4.png", alt="")
                    a(href="#")
                        img(src="././assets/images/wedding5.png", alt="")
                li.glide__slide(data-is-theme="wedding all")
                    a(href="#") 
                        img(src="././assets/images/wedding6.png", alt="")
                    a(href="#")
                        img(src="././assets/images/wedding7.png", alt="")
                li.glide__slide(data-is-theme="wedding all")
                    a(href="#") 
                        img(src="././assets/images/wedding8.png", alt="")
                    a(href="#")
                        img(src="././assets/images/wedding9.png", alt="")
                li.glide__slide(data-is-theme="wedding all")
                    a(href="#") 
                        img(src="././assets/images/wedding3.png", alt="")
                    a(href="#")
                        img(src="././assets/images/wedding10.png", alt="")
                li.glide__slide(data-is-theme="wedding all")
                    a(href="#") 
                        img(src="././assets/images/wedding11.png", alt="")
                    a(href="#")
                        img(src="././assets/images/wedding12.png", alt="")
                
                
                