#price.price
    .price-title
        h1 Цены
        p Свадебная фотосессия
    .card
        .price-card
            .price-card_title 
                h1 4 часа съемки
            .price-card_main 
                ul 
                    li 12 часов съемки
                    li Фотографии на флешке в фирменной упаковке
                    li 10 напечатанных фотографий
        .price-card
            .price-card_title 
                h1 8 часов съемки
            .price-card_main 
                ul 
                    li От 350 фотографий
                    li Фотографии на флешке в фирменной упаковке
                    li 10 напечатанных фотографий
                    li Отдача фотографий в течение 2-х месяцев
                    li 50% скидка на фотосессию love story
        .price-card
            .price-card_title 
                h1 12 часов съемки
            .price-card_main 
                ul 
                    li От 500 фотографий
                    li 1 фотограф + ассистент
                    li Фотографии на флешке в фирменной упаковке
                    li 20 напечатанных фотографий
                    li Отдача фотографий в течение 30 дней
                    li Фотосессия love story в подарок
                    li Премиум фотокнига 25х25, 10 разворотов
        
    .price-desc
        ul
            p Включено во все пакеты
            li • Индивидуальная встреча и предсвадебная консультация
            li • Серия из 10-ти фото в течение 5 дней после съемки
            li • Авторская обработка всех фотографий
            li • Ретушь всех крупных портретов
        ul
            p Пожалуйста, обратите внимание:
            li • Каждый час вне пакета оплачивается дополнительно: 2000 грн./час
            li • Бронь даты происходит после внесения предоплаты в размере 30%, оставшиеся 70% оплачиваются в день съёмки
            li • При проведении фотосессии за пределами Киева, трансфер фотографа оплачивает заказчик
            li • Бесплатно перенести прогулку можно на период за 1 месяц до и на 1 месяц после свадьбы. Например, если ваша свадьба 
                <br>18.08.2019, то съемка возможна с 18.07.2019 по 18.09.2019

