#additional.container
    h1 Дополнительные услуги
    .accordion(data-accordion-close-outside='')
        .accordion-item
            .accordion-item__header
                span Love-story
            .accordion-item__content
                p С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.
                span 7700руб.
        .accordion-item
            .accordion-item__header
                span Репортаж 
            .accordion-item__content
                p С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.
                span 7700руб.
        .accordion-item
            .accordion-item__header
                span Портретная фотосессия
            .accordion-item__content
                p С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.
                span 7700руб.
        .accordion-item
            .accordion-item__header
                span Студийная съемка
            .accordion-item__content
                p С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.
                span 7700руб.
        .accordion-item
            .accordion-item__header
                span Выезд за пределы Донецка
            .accordion-item__content
                p С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.и систем массового участия. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.
                span 7700руб.
        .accordion-item
            .accordion-item__header
                span Услуги визажиста
            .accordion-item__content
                p С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.
                span 7700руб.