#review.review
    .title
        h1 Отзывы
    .glide
        .glide__track(data-glide-el='track')
            ul.glide__slides
                li.glide__slide.rev
                    img(src="././assets/images/comment1.png", alt="")
                li.glide__slide.rev
                    img(src="././assets/images/comment2.png", alt="")
                li.glide__slide.rev
                    img(src="././assets/images/comment3.png", alt="")
                li.glide__slide.rev
                    img(src="././assets/images/comment4.png", alt="")
                li.glide__slide.rev
                    img(src="././assets/images/comment5.png", alt="")
                li.glide__slide.rev
                    img(src="././assets/images/comment6.png", alt="")
                li.glide__slide.rev
                    img(src="././assets/images/comment7.png", alt="")
                li.glide__slide.rev
                    img(src="././assets/images/comment8.png", alt="")