#contact.footer
    .contact
        .contact-number
            .contact-number_meseng
                img(src="././assets/images/person-ph-ava.png", alt="").ava
                .telegram
                    a(href="#")
                        img(src="././assets/images/mes-telegram.png", alt="")
                .viber
                    a(href="#")
                        img(src="././assets/images/mes-viber.png", alt="")
            .contact-number_phone
                a(href='tel:+74951234567') +380665564522
                a(href='tel:+74951234567') +380713900241
                a(href='mailto:nikitabos11.08@gmaial.com') nikitabos11.08@gmaial.com
        h1 наши странички в соц сетях
        .contact-clude
            a(href="/")
                .contact-clude__social.link
                    img(src="././assets/images/inst.png", alt="")
            a(href="/")
                .contact-clude__social.link1
                    img(src="././assets/images/twi.png", alt="")
        h1 портфолио в облаке
        .contact-jopa
            a(href="/")
                .contact-jopa__linnk
                    img(src="././assets/images/ava1.png", alt="")
                    p Студийная
            a(href="/")
                .contact-jopa__linnk
                    img(src="././assets/images/ava2.png", alt="")
                    p Репортаж
            a(href="/")
                .contact-jopa__linnk
                    img(src="././assets/images/ava3.png", alt="")
                    p Love-story
            a(href="/")
                .contact-jopa__linnk
                    img(src="././assets/images/ava4.png", alt="")
                    p Свадьба
            a(href="/")
                .contact-jopa__linnk
                    img(src="././assets/images/ava5.png", alt="")
                    p Портретны